 .skip-to-main {
    margin: 15px;
    padding: 15px;
    color: white;
    text-decoration-line: none;
}

 .header {
    text-align: center;
    /* text-decoration-line: underline; */
    font-size: x-large;
    margin: 0px;
 }

 .header-paragraph {
    font-size: medium;
 }

#about > h2 {
    text-align: left;
    text-decoration-line: underline;
}

#about p {
    text-align: left;
    line-height: 2;
}

#hero {
    text-align: center;
    /*text-decoration-line: underline;*/
    font-size: larger;
}

body {
    background-color: lightgray;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    line-height: 1.5;
}




