.header-ulist > li {
    display: inline-block;
    list-style: none;
    font-size: larger;
    text-align: center;
    margin: 0;
    padding: 0;
}

.header-ulist img {
    display: inline-block;
    vertical-align: top;
    width: 25px;
    height: 25px;
}

.header-nav a {
    display: block;
    padding: 12px 18px;
}

.header-heading {
    margin-top: 3rem;
 }

 .header-paragraph {
    margin-bottom: 3rem;
 }

.header-nav {
    background-color: gray;
    margin: 0;
    padding: 0;
 }

#main-content {
    max-width: 1200px;
    margin: auto;
    padding: 1rem;
}

.about-container {
    display: flex;
}

.about-wrapper {
    display: flex;
    height: 20rem;
    flex-direction: column;
    border: 1px solid black;
}

.about-wrapper h3,
.about-wrapper p {
  margin: 0;
}

.about-wrapper h3 {
    margin-top: auto;
}

.about-wrapper p {
    margin-top: 0;
}

.about-intro {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

.about-me {
    vertical-align: middle;
    height: 3rem;
    width: 100%;
    text-align: center;
    border-bottom: 1px solid black;
}

.about-content {
    padding: 2rem;
}
/*
.project-1 {
    background-color: darkgrey;
    max-width: 400px;
    width: 400px;
    max-height: 500px;
    height: 500px;
    padding: 25px;
    text-align: center;
    border-radius: 10px;
    display: inline-block;
    margin: 3px;
    margin-right: 1px;
    margin-left: 1px;
}
*/
.project-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: row;
    gap: 1rem;
}

.project-wrapper {
    display: flex;
    flex: 1 1 25rem;
    max-width: 50%;
    margin: 3px;
    margin-right: 1px;
    margin-left: 1px;
    vertical-align: top;
}

.project-content {
    display: flex;
    flex-direction: column;
    background-color: darkgrey;
    width: 100%;
    min-height: 14rem;
    padding: 1.25rem;
    text-align: center;
    border-radius: 5px;
}

#projects {
    max-width: 100%;
    width: 100%;
    text-align: center;
    margin-top: 2rem;
    margin-bottom: 4rem;
    gap: 1rem;
}

.button-container {
    margin-top: auto;
    display: flex;
    justify-content: center;
}

.read-more {
    margin: 15px;
    padding: 15px;
    height: 25%;
}

#skills > h2 {
    text-align: center;
    margin-bottom: 1rem;
}

.skills-ul {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    border-radius: 5px;
    margin-top: .5rem;
    margin-bottom: 3.5rem;
    padding: 1.5rem;
    justify-content: center;
    align-content: flex-start;
}

.skill-li {
    display: flex;
    background-color: darkgrey;
    border-radius: 5px;
    width: 12rem;
    height: 2.8rem;
    list-style: none;
    font-size: large;
    font-weight: bold;
    align-items: center;
    justify-content: center;
}

#contact {
    text-align: center;
    margin-top: 3rem;
    margin-bottom: 0px;
}

.contact-ul {
    margin: 0;
    margin-top: 2rem;
    padding: 0;
}

.contact-ul img {
    max-width: 80px;
    max-height: 80px;
    width: 70px;
    height: 70px;
    margin-top: 0;
    margin-right: 15px;
    margin-left: 15px;
    padding-right: 10px;
    padding-left: 10px;
}

.contact-ul > li {
    display: inline-block;
    list-style: none;
}

.contact-ul span {
    display: block;
    text-align: center;
    margin-top: 0;
    margin-right: 15px;
    margin-left: 15px;
    padding-right: 10px;
    padding-left: 10px;
}

.contact-label {
    margin: 0;
    padding: 0;
    text-align: center;
}
