.header-ulist > li {
    display: inline-block;
    list-style: none;
    font-size: larger;
    text-align: center;
    margin: 0;
    padding: 0;
}

.header-ulist img {
    display: inline-block;
    vertical-align: top;
    width: 25px;
    height: 25px;
}

.header-nav a {
    display: block;
    padding: 12px 18px;
}

.header-heading {
    margin-top: 3rem;
 }

 .header-paragraph {
    margin-bottom: 3rem;
 }

.header-nav {
    background-color: gray;
    margin: 0;
    padding: 0;
 }

#main-content {
    max-width: 1200px;
    margin: auto;
    padding: 1rem;
}

.project-1 {
    background-color: darkgrey;
    max-width: 400px;
    width: 400px;
    max-height: 500px;
    height: 500px;
    padding: 25px;
    text-align: center;
    border-radius: 10px;
    display: inline-block;
    margin: 3px;
    margin-right: 1px;
    margin-left: 1px;
}

.project-wrapper {
    display: inline-block;
    margin: 3px;
    margin-right: 1px;
    margin-left: 1px;
    vertical-align: top;
}

.project-content {
    background-color: darkgrey;
    max-width: 400px;
    width: 400px;
    max-height: 500px;
    height: 500px;
    padding: 25px;
    text-align: center;
    border-radius: 10px;
}

#projects {
    text-align: center;
    margin-top: 2rem;
}

.read-more {
    margin: 15px;
    padding: 15px;
}

#skills {
    height: 400px;
    border-radius: 10px;
    margin-top: 3.5rem;
    margin-bottom: 3.5rem;
    padding: 1.5rem;
    text-align: center;
}

.skill-li {
    display: inline-block;
    margin: 15px;
    padding-top: 3px;
    background-color: darkgrey;
    width: 200px;
    height: 200px;
    border-radius: 10px;
    list-style: none;
    font-size: large;
}

#contact {
    text-align: center;
    margin-top: 3rem;
    margin-bottom: 0px;
}

.contact-ul {
    margin: 0;
    margin-top: 2rem;
    padding: 0;
}

.contact-ul img {
    max-width: 80px;
    max-height: 80px;
    width: 70px;
    height: 70px;
    margin-top: 0;
    margin-right: 15px;
    margin-left: 15px;
    padding-right: 10px;
    padding-left: 10px;
}

.contact-ul > li {
    display: inline-block;
    list-style: none;
}

.contact-ul span {
    display: block;
    text-align: center;
    margin-top: 0;
    margin-right: 15px;
    margin-left: 15px;
    padding-right: 10px;
    padding-left: 10px;
}

.contact-label {
    margin: 0;
    padding: 0;
    text-align: center;
}
