 .skip-to-main {
    margin: 15px;
    padding: 15px;
    color: white;
    text-decoration-line: none;
}

 .header {
    text-align: center;
    /* text-decoration-line: underline; */
    font-size: larger;
    margin: 0px;
 }

 .header-heading {
    margin-top: 3rem;
 }

 .header-paragraph {
    margin-bottom: 3rem;
 }

 .header-nav {
    background-color: gray;
    margin: 0;
    padding: 0;
 }

.header-ulist > li {
    display: inline-block;
    list-style: none;
    text-align: center;
    margin: 0;
    padding: 0;
}

.header-ulist img {
    display: inline-block;
    vertical-align: bottom;
}

#main-content {
    max-width: 1200px;
    margin: auto;
    padding: 1rem;
}

.header-nav a {
    display: block;
    text-decoration: none;
    font-weight: bold;
    color: black;
    padding: 12px 18px;
}

.header-nav a:hover {
    background-color: darkgray;
    text-decoration: underline;
}

#hero {
    text-align: center;
    /*text-decoration-line: underline;*/
    font-size: large;
}

#about > h2 {
    text-align: left;
    text-decoration-line: underline;
}

#about p {
    text-align: left;
    line-height: 2;
}

body {
    background-color: lightgray;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    line-height: 1.5;
}

#projects {
    text-align: center;
    margin-top: 2rem;
}

.project-1 {
    background-color: darkgrey;
    max-width: 400px;
    width: 400px;
    max-height: 500px;
    height: 500px;
    padding: 25px;
    text-align: center;
    border-radius: 10px;
    display: inline-block;
    margin: 10px;
}

.project-wrapper {
    display: inline-block;
    margin: 10px;
    vertical-align: top;
}

.project-content {
    background-color: darkgrey;
    max-width: 400px;
    width: 400px;
    max-height: 500px;
    height: 500px;
    padding: 25px;
    text-align: center;
    border-radius: 10px;
}

.read-more {
    margin: 15px;
    padding: 15px;
    background-color: black;
    color: white;
    border-radius: 10px;
    text-decoration: none;
}

.read-more:hover {
    background-color: grey;
    text-align: center;
}

#contact {
    text-align: center;
    margin-top: 0px;
    margin-bottom: 0px;
}

.contact-ul {
    margin: 0;
    padding: 0;
}

.contact-ul img {
    max-width: 50px;
    max-height: 50px;
    width: 45px;
    height: 45px;
    margin-top: 0;
    margin-right: 5px;
    margin-left: 5px;
    padding-right: 5px;
    padding-left: 5px;
}

.contact-ul > li {
    display: inline-block;
    list-style: none;
}

.contact-ul span {
    display: block;
    text-align: center;
    margin-top: 0;
    margin-right: 5px;
    margin-left: 5px;
    padding-right: 5px;
    padding-left: 5px;
}

.contact-label {
    margin: 0;
    padding: 0;
    font-weight: bold;
    font-size: small;
    font-style: normal;
    text-align: center;
}

.contact-ul a {
    color: black;
    text-decoration: none;
}