 .skip-to-main {
    margin: 15px;
    padding: 15px;
    background-color: black;
    color: white;
    border-radius: 25px;
    text-decoration-line: none;
}

 .header {
    text-align: center;
    /* text-decoration-line: underline; */
    font-size: larger;
    margin: 0px;
 }

.header-hr, .footer-hr {
    width: 100%;
    height: 5px;
    margin-top: 25px;
    margin-bottom: 25px;
    background-color: grey;
    border: none;
    /*figure out how to fill color of hr element*/
}

.header-ulist > li {
    list-style: none;
    text-align: center;
    padding: 0px;
    margin: 0px;
}

#main-content {
    max-width: 1200px;
    margin: auto;
    padding: 1rem;
}

.header-nav a:hover {
    text-decoration: none;
    color: white;
}

#hero {
    text-align: center;
    /*text-decoration-line: underline;*/
    font-size: large;
}

#about > h2 {
    text-align: left;
    text-decoration-line: underline;
}

body {
    background-color: lightgray;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    line-height: 1.5;
}

#projects {
    text-align: center;
}

.project-1 {
    background-color: darkgrey;
    max-width: 400px;
    width: 400px;
    max-height: 500px;
    height: 500px;
    padding: 25px;
    text-align: center;
    border-radius: 25px;
    display: inline-block;
    margin: 10px;
}

.project-wrapper {
    display: inline-block;
    margin: 10px;
    vertical-align: top;
}

.project-content {
    background-color: darkgrey;
    max-width: 400px;
    width: 400px;
    max-height: 500px;
    height: 500px;
    padding: 25px;
    text-align: center;
    border-radius: 25px;
}

.read-more {
    margin: 15px;
    padding: 15px;
    background-color: black;
    color: white;
    border-radius: 30px;
    text-decoration: none;
}

.read-more:hover {
    background-color: grey;
    text-align: center;
}

.contact-ul {
    display: inline-block;
    max-width: 50px;
    max-height: 50px;
}

.contact-label {
    display: inline-block;
    margin: 3px;
    padding: 3px;
    font-weight: bold;
    font-size: small;
}